<meta charset="utf-8">
<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
<link rel="stylesheet" href="css/material.min.css">
<link rel="stylesheet" href="css/material_icon.css">
<link rel="stylesheet" href="css/jquery-ui.min.css">
<link rel="stylesheet" href="css/jquery-clockpicker.min.css">
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/leave_pop.css">

<script src="js/material.min.js"></script>
<script src="js/jquery-v1.11.1.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery-clockpicker.min.js"></script>
<script src="js/jquery.mCustomScrollbar.min.js"></script>
<script src="js/handlebars-v4.0.2.js"></script>
<script src="js/hb_helper.js"></script>
<script src="js/blockUI.js"></script>
<script src="js/header.js"></script>
<script src="js/global.js"></script>