<div class="demo-drawer mdl-layout__drawer mdl-color-text--blue-grey-50">
  <nav class="demo-navigation mdl-navigation">
    <a class="mdl-navigation__link home" href="index.html">
      <i class="mdl-color-text--black material-icons" role="presentation">home</i>Home
    </a>
    <a class="mdl-navigation__link notice" href="notice.html">
      <i class="mdl-color-text--black material-icons" role="presentation">notifications</i><span class="mdl-badge" data-badge="!">Notice</span>
    </a>
    <a class="mdl-navigation__link calendar" href="calendar.html">
      <i class="mdl-color-text--black material-icons" role="presentation">event_note</i><span class="mdl-badge" data-badge="!">Calendar</span>
    </a>
    <a class="mdl-navigation__link leaves" href="leaves.html">
      <i class="mdl-color-text--black material-icons" role="presentation">flight_takeoff</i><span class="mdl-badge" data-badge="!">Leaves</span>
    </a>
    <a class="mdl-navigation__link search" href="search.html">
      <i class="mdl-color-text--black material-icons" role="presentation">search</i>Search
    </a>
    <a class="mdl-navigation__link tool" href="tool.html">
      <i class="mdl-color-text--black material-icons" role="presentation">settings</i>Tools
    </a>
    <a class="mdl-navigation__link" href="/logout">
      <i class="mdl-color-text--black material-icons" role="presentation">exit_to_app</i>Logout
    </a>
  </nav>
</div>