<!doctype html>

<html lang="en">
  <head>
    <% inc partial/head.html %>
    <title>FFN Tool</title>
    <link rel="stylesheet" href="css/tool.css">
  </head>

  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <!-- header -->
      <% inc partial/header.html %>

      <!-- left nav -->
      <% inc partial/left_nav.html %>

      <!-- main -->
      <main class="mdl-layout__content mdl-color--grey-300 mCustomScrollbar mCS-autoHide">
        <div class="mdl-cell--12-col mdl-grid mdl-color--white mdl-cell mdl-shadow--2dp demo-content">
          施工中...
        </div>
      </main>
    </div>
   
  </body>
</html>
